.slide {
    
    margin-top: 2vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.slide1{

    background-image: url('../../assets/pexels-shvetsa-5029859.jpg');
    opacity: 0.9;
    
}

.slide2{

    background-image: url('../../assets/pexels-julia-m-cameron-6994854.jpg');
    opacity: 0.9;
}

.slide3{
    background-image: url('../../assets//pexels-rdne-6646897.jpg');
    opacity: 0.9;
}

.slide4{

    background-image: url('../../assets/pexels-ron-lach-9543745.jpg');
}
 